<div class="container">
    <div class="profileset">
        <h1>帳戶資訊</h1>
        <hr>
        <h2>歷史訂單</h2>
        {{#each orders}}
        <div>
            <div>
                <ul class="list-group">
                    {{#each this.items}}
                    <li class="list-group-item">
                        <span style="width: 15vh;">
                            <img src="{{this.item.imagePath}}" alt="" style="width: 15vh;">
                        </span>

                        {{this.item.title}} X {{this.qty}}

                        <span class="badge">{{this.price}}</span>
                    </li>
                    {{/each}}

                </ul>
            </div>

            <div class="card-header">
                <strong>
                    訂單總金額: $ {{this.cart.totalPrice }}
                </strong>
            </div>

        </div>
        <p></p>
        {{/each}}

    </div>
</div>