<div class="container">
    <div class="profileset">
        <h1>帳戶資訊</h1>
        <hr>
        <h2>歷史訂單</h2>
        {{#each orders}}
        <div class="container">
            <div class="card border-success">
                <div class="card-header orderhead">
                    <div>訂單編號:{{this._id}}</div>
                    <div>訂單總金額: $ {{this.cart.totalPrice }}</div>
                </div>
                <div class="card-body">
                    <div name="dateid">訂單日期:{{this.date}}</div>
                    <div>配送方式:{{this.shipping}}</div>
                    <div>付款方式:{{this.howpay}}</div>
                    <div>收件人:{{this.name}}</div>
                    <div>收件地址:{{this.city}}{{this.Area}}{{this.address}}</div>
                    <div>收件人電話:{{this.phone}}</div>

                </div>
                <div class="container probt">

                    <button type="button" class="btn btn-outline-success" name="productbtn"
                        value="{{this._id}}">商品詳情</button>

                    <p></p>

                    <div class="card border-warning productlist" name="productlist" id="{{this._id}}"
                        style="display: none;">
                        <ul class="list-group">
                            {{#each this.items}}
                            <li class="list-group-item">
                                <span style="width: 15vh;">
                                    <img src="{{this.item.imagePath}}" alt="" style="width: 15vh;">
                                </span>

                                {{this.item.title}} X {{this.qty}}

                                <span>&nbsp;&nbsp;總計:{{this.price}}</span>

                            </li>

                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <p></p>
    {{/each}}
</div>


<script>

    $("button[name=productbtn]").bind('click', function () {

        var id = $(this).val();
        console.log('點按鈕了', id);




        $("div[name=productlist]").hide(function () {

            var id2 = this.id;

            console.log('明細', id2);

            if (id == id2 && $(this).css("display") == "none") {

                $(this).slideDown();

                console.log('到底是哪個', $(this));

            }

        });



    });









</script>